@import url('https://cdn.jsdelivr.net/npm/lxgw-wenkai-screen-webfont@1.1.0/style.css');

body {
  font-family: "JetBrains Mono", "Cascadia Code", "汉仪有圆", "喵字果汁体", "LXGW WenKai Screen", "LXGW WenKai", sans-serif;
}
